# macOS
.DS_Store

# Xcode
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcshareddata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml

# Node
node_modules/
